body
{
	background-color:#E6E6E6;
}
#cssWrap
{
	width: 900px;
	margin: 0 auto;
	background-color:#FDFDFD;
	font-family:"Times New Roman";
	font-size:14px;
	color:#000;
	
	padding-top:0px;
	padding-left:10px;
}
a
{
	color:#000;
}